/*
	Theme Name: custom_theme
	Theme URI: https://studiotem.com/
	Author: Studio TEM
	Author URI: https://studiotem.com/
	Description: Custom theme developed by Studio TEM
	Version: 1.0.0
	License: GNU General Public License v2 or later
	Text Domain: custom_theme
	Tags: custom-design, custom-backend, simple-administration
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;    padding:0;    border:0;    font-size:100%;    vertical-align:baseline;}
body{line-height:1; }
ol, ul{list-style:none; }
blockquote, q{quotes:none; }
blockquote:before, blockquote:after, q:before, q:after{content:"";    content:none; }
table{border-collapse:collapse;     border-spacing:0; }
caption, th, td{font-weight:normal;     text-align:left; }
h1, h2, h3, h4, h5, h6{clear:both; }
html{overflow-y:scroll;    font-size:62, 5%;    -webkit-text-size-adjust:100%;    -ms-text-size-adjust:100%;}
a, a:hover, a:active, a:focus{outline:none;     text-decoration:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block; }
audio, canvas, video{display:inline-block; }
audio:not([controls]){display:none; }
del{color:#333; }
ins{background:#4449c0;     text-decoration:none; }
hr { background-color: #343434; border: 0 none; height: 1px; margin: 1em 0 1.74em; }
sub, sup{font-size:75%;     line-height:0;     position:relative;     vertical-align:baseline; }
sup{top:-0.5em; }
sub{bottom:-0.25em; }
small{font-size:smaller; }
img{border:0;     -ms-interpolation-mode:bicubic; }
img, object, embed{max-width:100%; height:auto; }
img{-ms-interpolation-mode:bicubic; }
img.alignleft {float:left; }
img.alignright {float:right; }

/* Clearing floats */
.clear:after, .wrapper:after, .format-status .entry-header:after{clear:both; }
.clear:before, .clear:after, .wrapper:before, .wrapper:after, .format-status .entry-header:before, .format-status .entry-header:after{display:table;  content:""; }
.align-right{text-align:right !important; }
.align-left{text-align:left !important; }
.align-center{text-align:center !important; }
.aligncenter{text-align:center !important; }
.fl{float:left !important; }
.fr{float:right !important; }
.cl-fl{clear:both; }
.hor-space-s{padding-top:1em }
.hor-space-m{padding-top:2em }
.hor-space-l{padding-top:3em }
em, i { font-style:italic; }
strong, b { font-weight:bold; color: inherit; }
/* some Responsive styles */
/* Responsive images */
.entry-content img, .comment-content img, .widget img{max-width:100%;
/* Fluid images for posts, comments, and widgets */
}
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"]{height:auto;
/* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full, img.size-large, img.header-image, img.wp-post-image{max-width:100%;    height:auto;
/* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
/* Images */
.alignleft{float:left;}


/* *********************************************************************************************************************************** */
/* ********************* Main Styling starts ****************************************************************************** */
 
* { box-sizing:border-box; }
html { margin-top:0 !important; }
 

a { color:#696969; transition:all ease 300ms; }
a:hover { color:#E4C875; }
html { 	background-color: #fff; height: 100%; display: block;}
body{ color:#696969; text-align:left; font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; letter-spacing:0em;  padding:0px; margin:0px; position: relative; 
  height: auto; min-height: 100%;  overflow: hidden; }

.desktop { display:block; }
.mobile { display:none; }

 
html { min-height:100% !important; }
body {
  display: flex;
  flex-direction: column;
}
#page {
  flex: 1 0 auto;
}
#footer_wrap {
  flex-shrink: 0;
}

#page-block { /* max-width: 1920px; */ margin: 0 auto;  }
.default-page-block { padding:135px 0 0 0; } 

/*************************
* General styles
***************************/
 
html #wpadminbar {     position: fixed; bottom: 0 !important; left: 0; top: auto; } 

body header.sticky { position: fixed; width: 100%; top: 0; transition: all ease 250ms; }
#main-header { }
.header-wrapper {}
.menu-wrapper {   position: relative; z-index: 999; padding: 15px 0 15px; transition:all ease 300ms; }
.menu-inner {     padding: 0 0; position: relative; display: flex; flex-direction: row; flex: 1; flex-wrap: nowrap; align-items: center; justify-content:space-between; }
.header-inner { background:#fff; }
.header-row { padding:20px 0; border-bottom:solid 1px #fff; }
.header-logo { display:block; width:12%; }
.header-logo a { display:block; margin:0 0 0 0; transition:all ease 200ms; }
.header-logo a img { display:block; transition:all ease 200ms; max-height:120px; max-width:100%; width:100%; }
 
.menu-inner .menu-holder { position:relative; }
.menu-inner #main-navigation { display: flex; flex-direction: row; margin: 0 -28px; }
.menu-inner .menu li { position:relative; }
.menu-inner .menu li a { padding:1em 0; font-size: 16px; line-height: 170%;  display: flex; align-items: center; padding:0 28px;}
.menu-inner .menu li { padding-top:1em; padding-bottom:1em; }

.main-body { overflow:hidden; padding:100px 0 0 0;  }

body.scrolled .menu-wrapper { padding: 0px }
body.scrolled .menu-inner { padding: 10px 0 }
body.scrolled #header { background-color:#fff !important; }
body #header { background-color:transparent !important; }

/* DEFAULT STYLING */
h1,h2,h3,h4,h5,h6 { padding-bottom:0.5em; font-family: 'Roboto'; }
h2 { font-size: 3rem; font-weight: 700; line-height: 1.1; }
p { font-family: 'Roboto'; font-style: normal; font-size: 18px; line-height: 160%; color: #696969; padding: 0 0 1em 0; margin:0; }
.default-page-body { margin-top:100px; }

h4 { font-weight:700; font-size:21px; }

section.intro { padding:90px 0 45px; }
section.intro .section-i { padding: 0 0 144px 0; }
.flex-columns { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; }
section.intro .flex-columns .flex-column { width:48.7%; position: relative; }
section.intro .flex-columns .flex-column.last { width:51.3%; }
section.intro .content-wrapper { padding:0 17.8% 0 0; }
section.intro h1 { font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 64px; line-height: 120%; color: #696969; margin:0; padding:0 0 9px 0;}
section.intro p { font-family: 'Roboto'; font-style: normal; font-size: 18px; line-height: 160%; color: #696969; padding:0 0 1em 0; }
section.intro p:last-of-type { padding:0 0 0em 0; }
section.intro .button { display:inline-block; font-size: 18px; line-height: 100%; color: #1A1A1A; padding:24px 26px; background:#E4C875;  margin-top: 30px; }
section.intro .button:hover {   color: #fff; background:#000; }
.intro .arrow-down {     position: ABSOLUTE; bottom: 0; left: 0; }
section.intro .intro-image-wrapper  { background-color: #e6e6e6; margin: 40px 0 0 0; position: relative; z-index: 10; }
section.intro .intro-image-wrapper .img-wrapper { background-color: #e6e6e6; margin: 20px 0 0 0; position: relative; padding: 50px 0 0 0; z-index: 10; }
section.intro .intro-image-wrapper img { display:block; }
section.intro .intro-image-wrapper img { display:block; }
.intro-image-wrapper .rounded-background { position: absolute; display: block; content: ""; background-color: #ECD99E; width: 3000px; height: 650px; left: 22%; z-index: 1; top: 7%; border-radius: 0 0 0 100px; }
                
section.filter { padding: 45px 0 0; }
section.filter .section-i { padding: 0 0 0 0; }
.flex-columns { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; }
section.filter .flex-columns {   align-items:center;}
section.filter .flex-columns .flex-column { width:42.6%; position: relative; }
section.filter .flex-columns .flex-column.last { width:57.4%; }
section.filter .flex-columns .flex-column.text { order:2; width:42.6%; position: relative; }
section.filter .flex-columns .flex-column.image { order:1; width:57.4%; }
section.filter .content-wrapper  { padding: 0 0 0 25.75%; text-align: left; }
section.filter h1 { font-size: 20px; line-height: 120%; color: #696969; padding:0 0 8px 0; }
section.filter h2 { font-size: 48px; line-height: 110%; color: #696969; padding:0 0 0.5em 0; }
section.filter p { font-family: 'Roboto'; font-style: normal; font-size: 16px; line-height: 170%; color: #696969; padding:0 0 1em 0; }
section.filter p:last-of-type { padding:0 0 0em 0; }
section.filter .button { display:inline-block; font-size: 18px; line-height: 100%; color: #1A1A1A; padding:24px 26px; background:#E4C875;  margin-top: 30px; }
section.filter .button:hover {   color: #fff; background:#000; }
.intro .arrow-right {     position: relative; bottom: 0; left: 0; }
section.filter .intro-image-wrapper  {     text-align: center; display: block; position: relative; }
section.filter .intro-image-wrapper .img-wrapper {   }
section.filter .intro-image-wrapper .img-wrapper img { position: relative; z-index: 10;  display: block; }
section.filter .intro-image-wrapper .img-wrapper:before { width: 100%; height: 44%; left: 0; right: 0; bottom: auto; top: 41%; display: block; content: ""; 
    background-color: #e6e6e6; position: absolute; z-index: 5; opacity:0.5; }
section.filter .arrow-right { margin-top:40px; }

@keyframes pulse_hero{0%{transform:scaleX(1)}50%{transform:scale3d(1.5,1.5,1.5)}to{transform:scaleX(1)}}

section.filter .hero--image--hover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
section.filter .hero--image--hover .hover--btn_1 { top: 47%; left: 32%; }
section.filter .hero--image--hover .hover--btn_2 { top: 75%; left: 45%; }
section.filter .hero--image--hover .hover--btn_3 { top: 26%; left: 78%; }
section.filter .hero--image--hover .hover { padding: 16px; cursor: pointer; position: absolute; z-index:20; }
section.filter .hero--image--hover .hover .pulse { position: absolute; border: 2px solid #fff; border-radius: 50%; transition:all ease 250ms; animation: pulse_hero 1.5s infinite; padding: 16px; top: 1px; left: 1px; transform: translate(-50%,-50%); }
section.filter .hero--image--hover .hover .inner { z-index: 21; position: relative; width: 6px; height: 6px; background-color: #fff; border-radius: 50%; transition:all ease 250ms; }
section.filter .hero--image--hover .hover .tolltip:after { content: " "; position: absolute; bottom: -19px; left: 50%; margin-left: -10px; border: 10px solid transparent; border-top-color: #fff; }

.product-intro { padding:45px 0; }
.product-intro .flex-columns {}
.product-intro .flex-columns .flex-column.imagery { width:57.1%; order:1; }
.product-intro .flex-columns .flex-column.text {  width:42.9%; order:2; }
.product-intro .content-wrapper { padding-left:144px; padding-left:25.5%; }
.product-intro .text h1 { font-weight: bold; font-size: 48px; line-height: 110%; color: #696969; padding-bottom:16px; }
.product-intro .text .description {   }
.product-intro .text .description p { font-size: 20px; line-height: 120%; color: #696969; padding-bottom:1em }
.product-intro .price { font-weight: bold; font-size: 72px; line-height: 120%; color: #E4C875; padding:0px 0 40px 0; }
.product-intro .content { font-size: 16px; line-height: 170%; color: #696969; }
.product-intro .content p { font-size: 16px; line-height: 170%; color: #696969; padding-bottom:1em; }
.product-intro .content p:last-of-type { padding-bottom:0; }
.product-intro .buy-link { padding-top:24px; }
.product-intro .buy-link a { font-size: 18px; line-height: 100%; display: inline-block; align-items: center; text-align: center; color: #1a1a1a; flex: none; 
    order: 1; flex-grow: 0; margin: 0; padding: 24px 57px; background-color: #E4C875; border: solid 1px #E4C875; }
.product-intro .buy-link a:hover { background-color: #1a1a1a; border: solid 1px #1a1a1a; color:#E4C875; }   
.product-intro .intro-image-wrapper { display: flex; flex: 1; flex-direction: row; flex-wrap: wrap; }
.product-intro .intro-image-wrapper .img-wrapper { width:77.5%; order:2; background:#f0f0f0; text-align:center; padding: 100px 0; }
.product-intro .intro-image-wrapper .gallery-images { width:22.5%; order:1; }
.product-intro .intro-image-wrapper .gallery-images .inner-content { padding:0 19.8% 0 0; }
.product-intro .intro-image-wrapper .gallery-images .inner-content .each-image { padding:0 0 32px 0; transition:all ease 250ms; }
.product-intro .intro-image-wrapper .gallery-images .inner-content .each-image a { display:block; }
.product-intro .intro-image-wrapper .gallery-images .inner-content .each-image:hover a { opacity:1; }
.product-intro .intro-image-wrapper .gallery-images .inner-content .each-image:hover ~ .each-image{ opacity:0.25; }
.intro-image-wrapper .gallery-images:hover .each-image:not(:hover) a { opacity:0.35; }
.product-intro .intro-image-wrapper .gallery-images .inner-content .each-image a img {  }
.product-intro .intro-image-wrapper .gallery-images .inner-content .each-image:last-of-type { padding:0 0 0 0; }

section.data-table { padding:136px 0; } 
section.data-table h2 { font-weight: bold; font-size: 48px;line-height: 110%; color: #696969; margin:0; padding:0 0 67px 0; }
.data-table-inner .wpDataTable {  } 
.data-table-inner .wpDataTable tr th { background: #F5F5F5; padding:18px 10px !important; text-align:left !important; vertical-align: middle !important; font-size: 14px; font-family: 'Roboto' !important; line-height: 16px !important; border: solid 0px !important; color: #696969; }
.data-table-inner .wpDataTable tr { background:#F4E9C8; }
.wpDataTable .wpdt-cell-row.odd td { background:#fff  !important; padding:18px 10px !important; text-align:left !important; }
.wpDataTable .wpdt-cell-row.even td { background:#F4E9C8 !important; padding:18px 10px !important; text-align:left !important; }
.data-table-inner .wpDataTable tr:first-of-type td { font-size: 14px; line-height: 16px; color: #696969; text-align:left; }
.data-table-inner .wpDataTable tr td:first-of-type { font-weight:700 !important; }
.data-table-inner .wpDataTable tr:nth-of-type(2n) { background:#fff; font-size: 14px; line-height: 16px; color: #696969; text-align:left; } 
.data-table-inner .wpDataTable tr td { vertical-align: top !important; font-size: 14px; font-family: 'Roboto' !important; line-height: 16px !important; border: solid 0px !important; color: #696969; }
 
section.filter .hero--image--hover .hover .zoom {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 0 30px 60px rgb(0 0 0 / 8%);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s ease 0s;
    opacity: 0;
    z-index: 5;
}  
section.filter .hero--image--hover .hover .tolltip {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    font-weight: 400; font-size: 16px; line-height: 100%; display: flex; align-items: center; text-align: center; color: #000000;
    padding: 10px 14px;
    text-align: center;
    white-space: nowrap;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    opacity: 0;
    transition: all .3s ease 0s;
}
section.filter .hero--image--hover .hover:hover .tolltip { opacity:1; visibility:visible; top:-105%; }         
section.filter .hero--image--hover .hover:hover .pulse { background:#fff;    }
section.filter .hero--image--hover .hover:hover .inner { background:#E4C875; }
               
section.graph { padding:105px 0; text-align:center; }
section.graph .section-i { padding: 0; }
section.graph h2 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; text-align: center; color: #696969; margin:0; padding:0 0 0.5em 0 }
section.graph p { font-style: normal; font-weight: normal; font-size: 18px; line-height: 160%; text-align: center; color: #696969; padding:0 0 1em 0;}
                                                   
                   
section.points { padding:110px 0 85px 0; text-align:center; }
section.points .section-i { padding: 0; }
section.points h1 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; text-align: center;color: #696969; padding-bottom:1.375em; margin:0; }
section.points p { font-style: normal; font-weight: normal; font-size: 18px; line-height: 160%; text-align: center; color: #696969; padding:0 0 1em 0;}
section.points .flex-columns.col4 { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; justify-content:space-between; }
section.points .flex-columns .flex-column { width:23.2%; }
section.points .flex-columns .flex-column .content-wrapper { padding:26px 16px; border:1px solid #E6E6E6; transition:all ease 250ms; height:300px; text-align:left; }
section.points .flex-columns .flex-column .content-wrapper:hover { border:solid 1px transparent;  background: #FFFFFF; box-shadow: 0px 40px 80px rgba(1, 1, 1, 0.09); }
section.points .flex-columns .flex-column .content-wrapper .icon { margin:0 0 73px 0; }
section.points .flex-columns .flex-column .content-wrapper p { text-align:left; font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 20px; line-height: 120%; color: #696969; }

section.products { padding:85px 0 269px 0; text-align:center; }
section.products .section-i { padding: 0; }
section.products .section-title { padding-left:107px; }
section.products .section-title h1 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; text-align: left;color: #696969; padding-bottom:1.375em; margin:0; }
section.products .flex-columns.col2 { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; justify-content:space-between; margin:0 -16px; }
section.products .flex-columns .flex-column { width:50%; margin:0 0 40px 0; padding:0 16px; transition:all ease 250ms; }
section.products .image-wrapper { position:relative; text-align:center; padding-left:0%; padding-bottom:32px; }
section.products .image-wrapper img { margin:0; display:block; max-width:434px; width:68.35%; position: relative; z-index: 5; margin-left:12.9%; }
section.products .image-wrapper:before { position: absolute; display: block; content: ""; background-color: #ECD99E; width: 100%; height: 150px; left: 0%; right:0;  z-index: 1; bottom: 0%; top:auto;   }
section.products .flex-columns .flex-column .content-wrapper { background-color: #ECD99E; text-align:left; }
section.products .content-wrapper .cw-flex {  display:flex; flex:1; flex-direction:row; flex-wrap:wrap; justify-content:space-between; padding:10px 48px 32px 40px;  align-items: flex-end; }
section.products .content-wrapper .cw-flex .cw-info { width:60%; padding: 0 5% 0 0; }
section.products .content-wrapper .cw-flex .cw-cta {width: 40%; text-align: right; }
.cw-info .price { font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 24px; line-height: 140%; color: #5B502F; margin:0 0 8px 0; } 
.cw-info .title { }
.cw-info .title h3 { font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; color: #696969; margin:0 0 11px 0; }
.cw-info .desc { font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 160%; color: #696969; min-height: 3.2em; }
.cw-cta .buy-link a { font-size: 16px; line-height: 100%; display: inline-block; align-items: center; text-align: center; color: #E4C875; flex: none; order: 1; flex-grow: 0; 
    margin: 0; padding: 1em 1.906em; background-color: #1A1A1A; border: solid 1px #1A1A1A; }  
.cw-cta .buy-link a:hover { color: #E4C875; background-color: #fff; border: solid 1px #fff; }      
.cw-cta .detail a { display: inline-block; transition:all ease 250ms; opacity:0; margin:0 0 32px 0; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 18px; line-height: 100%; text-align: right; color: #1A1A1A; border-bottom:solid 1px #1A1A1A; padding-bottom:8px; }    
.cw-cta .detail a:hover { color:#fff; }
section.products .flex-columns .flex-column .main-area { transition:all ease 300ms; position:relative; top:0; }
section.products .flex-columns .flex-column .main-area:hover .cw-cta .detail a { opacity:1; }
section.products .flex-columns .flex-column .main-area:hover { top:-33px; box-shadow: 0px 40px 80px rgba(124, 124, 124, 0.36); }

#product-carousel .item { padding:0 16px; }
#product-carousel .owl-item { transition:all ease 250ms; }
section.products .products-carousel-wrapper { display:none !important; }
#product-carousel .item .content-wrapper { background: #ECD99E; }
#product-carousel .item .content-wrapper .cw-flex { display: block; flex: 1; flex-direction: row; flex-wrap: wrap; justify-content: space-between; padding: 0px 24px 24px 24px; }
#product-carousel .item .content-wrapper .cw-info { width:100%; }
#product-carousel .item .content-wrapper .cw-info .title h3 { font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; text-align: left; color: #696969; margin: 0 0 8px 0; padding: 0;}
#product-carousel .item .content-wrapper .cw-info .desc p { font-size: 18px; text-align:left }
#product-carousel .item .content-wrapper .cw-info .desc { font-size: 18px; text-align:left }

#product-carousel .owl-item.active ~ .owl-item { margin-left:-16px; }
#product-carousel .owl-item.active + .owl-item { margin-left:-16px; }

#product-carousel .content-wrapper .cw-flex .cw-cta { width: 100%; text-align: left; }
#product-carousel .content-wrapper .cw-flex .cw-cta .detail { display:block; }
#product-carousel .content-wrapper .cw-flex .cw-cta .detail a {     display: inline-block; opacity: 1; margin: 24px 0 26px 0; visibility: visible; }
#product-carousel .content-wrapper .cw-flex .cw-cta .buy-link a { display:block; }
#product-carousel .content-wrapper .cw-info .price { font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 24px; text-align: left; }
#product-carousel .owl-dots { text-align: center; }
#product-carousel .owl-dots button { border-radius:100px; background: #E6E6E6; border:solid 0px tranpsarent; margin:0 4px; width:6px; height:6px; transition:all ease 250ms; }
#product-carousel .owl-dots button:hover,
#product-carousel .owl-dots button.active { outline:none; background: #1A1A1A; }
.products-carousel-wrapper {  }
.products-carousel-wrapper a { display: inline-block; }
.products-carousel-wrapper a img { width:64px; margin-right:24px; }
.products-carousel-custom-nav { margin: 0 0 70px 0; text-align:left; }

section.testimonials { padding:184px 0 110px 0; }
section.testimonials .testimonial-content .quote-icon { position: absolute; left:6px; top:27px; }
section.testimonials h2.section-title { font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; color: #696969; margin:0 0 64px 0;
    text-align: center; }                                                                  
section.testimonials .flex-columns.col3 { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; justify-content:space-between; margin:0 -16px; }
section.testimonials .flex-columns .flex-column { width:33.3333%; margin:0 0 0 0; padding:0 16px; transition:all ease 250ms; }

section.testimonials #testimonials-carousel:not(.owl-carousel) { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; justify-content:space-between; margin:0 -16px; }
section.testimonials #testimonials-carousel:not(.owl-carousel) .item { width:33.3333%; margin:0 0 0 0; padding:0; transition:all ease 250ms; }

body .cc-theme-edgeless.cc-window { background: #fff !important; display: flex; max-width: 768px; flex-direction: row; width: 100%; padding: 20px !important; align-items: center; }
body .cc-theme-edgeless.cc-window .cc-link { display:inline-block; color:#E4C875 !important; font-weight:700; text-decoration:none; font-family:'Roboto'; }
.cc-window.cc-floating { padding:20px !important; max-width: 90vw; }
.cc-floating.cc-theme-edgeless .cc-message { margin: 0 20px 0 0 !important;     max-width: 568px; }
body .cc-window.cc-floating .cc-compliance a { display: inline-block; font-size: 18px; line-height: 100%; color: #1A1A1A !important; padding: 14px 26px; background: #E4C875 !important; font-weight:normal; border-radius:20px 0 20px 0}
body .cc-window.cc-floating .cc-compliance a:hover { color: #E4C875 !important; background: #1A1A1A !important; }
.wpdt-c.wpDataTableContainerSimpleTable.wdtscroll table.wpdtSimpleTable { min-width:100%; }


section.testimonials .testimonial-content { margin:0 16px; }
section.testimonials .testimonial-content { border:1px solid #E6E6E6; padding:48px; position:relative; transition:all ease 250ms; }
section.testimonials .testimonial-content:hover { border:1px solid #FFFFFF; background: #FFFFFF; box-shadow: 0px 40px 80px rgba(29, 29, 29, 0.09); }
section.testimonials .testimonial-content .text { position:absolute; top:48px; left:48px; right:45px; font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 18px; 
    line-height: 160%; color: #696969; }
section.testimonials .testimonial-content .testimonial-image { padding-top:289px; }
section.testimonials .testimonial-content .testimonial-image img { display:block; width: auto; }
section.testimonials .testimonial-content .name { padding-top:32px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 24px; line-height: 140%; color: #696969; }
#testimonials-carousel .owl-dots { text-align: center; }
#testimonials-carousel .owl-dots button { border-radius:100px; background: #E6E6E6; border:solid 0px tranpsarent; margin:0 4px; width:6px; height:6px; transition:all ease 250ms; }
#testimonials-carousel .owl-dots button:hover,
#testimonials-carousel .owl-dots button.active { outline:none; background: #1A1A1A; }

section.contact { padding:110px 0 140px 0; text-align:center; }
section.contact .contact-form { padding:113px 224px 98px; margin:0 auto; background:#e6e6e6; max-width:864px; text-align:left; }
section.contact h2 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 48px; line-height: 110%; color: #696969; margin:0; padding:0 0 .5em 0; }
section.contact p { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 18px; line-height: 160%; color: #696969; margin:0; padding:0 0 1em 0; }
section.contact .cform {  }
section.contact .cform-row { margin-bottom:16px; }
section.contact .cform-row label { display:block; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 12px; line-height: 160%; color: #696969; 
    padding:0 0 12px 0; }
section.contact .cform-row input { display:block; background: #FFFFFF; border-radius: 8px; border:solid 1px #fff; padding:12px; font-size: 14px; line-height: 160%; 
    color: #696969; width:100%; }    
section.contact .cform-row .wpcf7-form-control.wpcf7-acceptance input { display:inline-block; width: auto; }
section.contact .cform-row .wpcf7-form-control.wpcf7-acceptance { display:block; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 12px; line-height: 160%; color: #333333; opacity: 0.5; }
section.contact .cform-row .wpcf7-form-control.wpcf7-acceptance label span { display: inline-block; padding-left: 11px; }
section.contact .cform-row .wpcf7-form-control.wpcf7-acceptance label { display: inline-block; cursor:pointer; }
section.contact .cform-row textarea { display:block; background: #FFFFFF; border-radius: 8px; border:solid 1px #fff; padding:12px; font-size: 14px; line-height: 160%; 
    color: #696969; width:100%; }
section.contact .cform-row.cform-submit-row input.wpcf7-submit { display:block; background: #E4C875; border:solid 1px #E4C875; padding:padding: 16px 24px; 
  font-size: 16px; line-height: 100%;color: #000000; width:100%; text-align:center; }
section.contact .cform-row.cform-submit-row input.wpcf7-submit:disabled { opacity:0.2; }  
section.contact .cform-row.cform-submit-row { margin-bottom: 0; margin-top: 24px; }  

.contact .wpcf7-not-valid-tip { color: #ff0000; font-size: 12px; margin: 4px 0 0 0; }
.contact .screen-reader-response { color: #ff0000; font-size: 12px; }
.contact .wpcf7-response-output {  padding: 12px; font-size: 12px; margin: 12px 0 0 0; border-radius: 20px; }
section.contact .screen-reader-response { display:none; }

.buy-cta { background:#000; padding:112px 0 102px 0; }
.buy-cta h2.section-title { font-weight: bold; font-size: 72px; line-height: 134%; text-align: center; color: #FFFFFF;  padding-bottom:56px; }
.buy-cta .button-holder  { text-align:center; }
.buy-cta .button-holder a { display:inline-block; padding:24px 67px; color:; background:#E4C875; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 18px; 
    line-height: 100%; color: #000000; }
  .buy-cta .button-holder a div { position:relative; padding-left:25px;  }
.buy-cta .button-holder a span { position: absolute; left: 0; top: 1px; width:15px; height:14px; display:block; content:""; background:url('images/icon-cart.png') 0 0 transparent no-repeat;  background-size:contain; }    
.buy-cta .button-holder a:hover { background:#fff; }   

.text-with-image { padding:120px 0; }
.text-with-image.bg-grey { background:#F8F8F8; }
.text-with-image .flex-columns { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; align-items: center; }
.text-with-image .flex-column.text { width:51.15%; }
.text-with-image .flex-column.image { width:48.85%; }
.text-with-image.image-left .flex-column.image { order:1; }
.text-with-image.image-left .flex-column.text { order:2; }
.text-with-image.image-left .content-inner { padding-left:21.5%; }
.text-with-image.image-right .content-inner { padding-right:21.5%; }
.text-with-image  h2 { font-weight: bold; font-size: 32px; line-height: 110%; color: #696969; padding-bottom:0.8em; }
.text-with-image  p { font-size: 18px; line-height: 160%; color: #696969; padding-bottom:0.8em; }
.text-with-image .content-inner ul { margin:0 0 1em 0; padding:0 0 0 1em }
.text-with-image .content-inner ul li { padding:0 0 0 1em; font-family: 'Roboto'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 160%; 
    position:relative; color: #696969;  }
.text-with-image .content-inner ul li:before { content:""; display:block; width:5px; height:5px; background:#696969; border-radius:100px; position:absolute; top:11px; left:0  }    

section.certificate { padding:125px 0; }
section.certificate { text-align:center; } 
section.certificate h2.section-title { font-size: 48px; line-height: 110%; text-align: center; color: #696969; text-align:center; }
section.certificate p { font-size: 18px; line-height: 160%; text-align: center; color: #696969; }
.certificate-inner { padding:125px 0; }

body.error404 { background: linear-gradient(270deg, #E6E6E6 45.53%, rgba(230, 230, 230, 0) 103.7%); }
.page-404 {  }
body.error404 .main-body { height: 100%; position: relative; }
.main-body .page-404  { height: 100%; }
.error404 footer {  height: auto; display:none; }

.page-404 .title-wrapper { text-align:center; position:relative; }
.page-404 .title-404 { font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 340px; line-height: 120%; text-align: center; color: #696969; }
.page-404 .title-wrapper .image {}
.page-404 .title-wrapper .image img {     position: absolute; width: 432px; bottom: -36%; left: 50%; margin-left: -212px; }
.page-404 .products-link { text-align:center; margin:42px auto 0 }
.page-404 .products-link a {     text-align: center; position: relative; z-index: 20; display:inline-block; padding: 24px 26px; background: #E4C875; border:solid 1px #E4C875; font-size: 18px; line-height: 100%; color:#1a1a1a; }
.page-404 .products-link a:hover { background: #1a1a1a; color:#E4C875; border:solid 1px #1a1a1a; }
.page-404 .inner-content {  margin-bottom: 128px; }
.page-404 .inner-content .decor { position:absolute; bottom:0; top:auto; left:auto; right:0; content:""; display:block; width:432px; height:280px; background: #E4C875; 
    bottom:140px; right:0; border-radius: 0 0 0 100px; bottom: 0px; }
.page-404 .products-link { padding: 0 0 160px 0; }
.page-404 .inner-content:before { position:absolute; bottom:0%; left:0%; right:0; content:""; display:block; height:128px; background: #fff; right:0; }


 
   
.footer--info { padding:42px 0 ; background: #1A1A1A; }
.footer--info .row { max-width:1136px; }
footer.footer .footer--info { padding: 42px 0 0; }
.footer--info .logo { padding:0 0 55px;  }
.footer--info .logo a { display: inline-block; }
footer.footer .footer--info p { color:#fff; }
footer .copyright-row { background:#000000; padding:25px 0; }
footer .copyright-row .row { justify-content:space-between; display:flex; }
footer .copyright-row .row .copyright-left { width:50%; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 160%; color: #E6E6E6; }
footer .copyright-row .row .copyright-right { width:50%; font-family: Roboto; font-style: normal; font-weight: normal; text-align:right; font-size: 14px; line-height: 160%; color: #E6E6E6; }
footer .copyright-row .row .copyright-right .vop a { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 160%; text-align: right; color: #E6E6E6; }
footer .copyright-row .row .copyright-right .vop a:hover { color: #E4C875; }
footer .copyright-row .row a:hover {  color: #E4C875; }
.footer-widgets { padding:0 0 70px 0; }
.footer-widgets .row { justify-content:space-between; justify-content:flex-start; display:flex; }
footer.footer .footer--info .footer-widgets h6 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 120%; color: #E6E6E6; 
    margin:0; padding:0 0 18px 0; }
.footer-widgets-col.footer-col-1 { width:560px; width:49.29%; }
.footer-widgets-col.footer-col-2 { width:336px; width:29.58%; }
.footer-widgets-col.footer-col-3 { width:; width:21.13%; }
/* hide social media */
.footer-widgets-col.footer-col-3 { /* display: none; */ visibility: hidden; }

.footer-widgets-col .columns { display:flex; flex:1; flex-wrap:wrap; flex-direction:row; } 
.footer-widgets-col .columns .single-col-1 { width:34.28%; margin-right:32px; }
.footer-widgets-col .columns .single-col-2 { width:34.28%; margin-right:32px; }
.footer-widgets-col.footer-col-2 .columns p a { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 16px; line-height: 170%; color: #E6E6E6; }
.footer-widgets-col.footer-col-2 .columns p a:hover { color:#E4C875 }
.footer-widgets-col.footer-col-2 .columns .single-col-1 { margin-right:18px; width:auto; min-width:113px }
.footer-widgets-col.footer-col-2 .columns .single-col-2 { margin-right:0; }

.footer-widgets-col.footer-col-3 .social-link a { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 16px; line-height: 170%; color: #E6E6E6; }
.footer-widgets-col.footer-col-3 .social-link a:hover { color:#E4C875 }
.footer-widgets-col.footer-col-3 .social-link { margin-bottom: 16px; }
.footer-widgets-col.footer-col-3 .social-link.facebook-link a { padding:0 0 0 30px; background:url('images/facebook.png') 0 0 no-repeat transparent; }
.footer-widgets-col.footer-col-3 .social-link.instagram-link a { padding:0 0 0 30px; background:url('images/instagram.png') 0 0 no-repeat transparent; }

.mobile-menu .nav-top {
    z-index: 103;
    padding: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: bo;
    justify-content: flex-end;
    height: auto;
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
}
.mobile-menu .nav-top span {
    top: 0;
    margin-right: 0;
    display: flex;
    width: 24px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #696969;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease;
}
.mobile-menu .nav-top span:nth-child(2) {
    width: 16px!important;
    right: 0;
    height: 3px;
    justify-content: end;
    left: calc( 100% - 16px );
    flex-direction: row;
}
.mobile-menu .nav-top span:first-child {
    height: 3px;
    transform-origin: 0 0;
    width: 24px;
}
.nav-is-toggled .mobile-menu .nav-top span:nth-child(2) {
    width: 24px!important;
    right: 0;
    height: 3px;
    top: 5.5px;
    justify-content: end;
    left: calc( 100% - 24px );
    flex-direction: row;
}
.mobile-menu .nav-drill {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: .45s;
}
.mobile-menu .nav-drill ul { width:100%; }
.mobile-menu .nav-drill ul li { width:100%;  text-align:center; }

/* *********************************************************************************************************************************** */
/* *********************************************************************************************************************************** */
/* The grid */                                                                     
.container{padding-left:1em; padding-right:1em; }
.row {width:100%; max-width:1310px; display:block; margin:0 auto; box-sizing: border-box;}
#footer_wrap .row {  max-width:1120px;  padding: 0 15px; }


.desktop { display:block; }
.mobile { display:none; }
img, object, embed{max-width:100%; }
img{height:auto; }
 

@media only screen and (max-width:1900px) {
    
   
    
}



@media only screen and (max-width:1640px) {

}

@media only screen and (max-width: 1590px) {

}

@media only screen and (max-width: 1500px) {
  
 
  
  
}
/* ################################################################################################################################################## */
@media only screen and (max-width: 1368px) {

  
}
@media only screen and (max-width: 1280px) {
 
  
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
 
    
}

@media only screen and (max-width: 1024px) {  
    .main-body {  padding: 68px 0 0 0; }
    .default-page-body { margin-top: 50px; }
    .row { padding:0 30px; }
    .header-logo { display: block; width: 50%; } 
    .menu-holder.header-menu { display: none;  }
    .header-logo a img { width: auto; }
    .page-404 .inner-content .decor { display:none; }
    .page-404 .products-link { padding: 0 0 800px 0; }
    .page-404 .inner-content:before { display:none; }
    section.filter .content-wrapper  { padding: 0 0 0 10%; text-align: left; }
    section.points .flex-columns .flex-column { width: 50%; padding: 10px 10px 10px; }
    section.points .flex-columns .flex-column .content-wrapper { height: auto; }
    .intro .arrow-down { margin-top: 50px; position: relative; bottom: 0; left: 0; }
    
   section.products { padding: 45px 0; text-align: center; }
    section.products .section-title { padding-left: 0; }
    section.products .section-title h1 { font-size: 24px; line-height: 140%; text-align: left; color: #696969; }
    section.products .flex-columns .flex-column { width: 50%; margin: 0 0 40px 0; padding: 0 16px; transition: all ease 250ms; }
    .cw-info .title h3 { font-size: 24px; line-height: 140%; padding: 0 0 8px 0; margin: 0; }
    section.products .content-wrapper .cw-flex .cw-info { width: 100%; }
    section.products .content-wrapper .cw-flex .cw-cta { width: 100%; }
    #product-carousel .item .content-wrapper .cw-info .title h3 { font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 24px; }
    #product-carousel .content-wrapper .cw-info .price { font-size: 16px; }
    section.products .image-wrapper:before { position: absolute; display: block; content: ""; background-color: #ECD99E; width: 100%;height: 50%; }
    section.products .image-wrapper { padding-bottom: 0; }
    #product-carousel .content-wrapper .cw-flex .cw-cta .detail { display: none; }
    #product-carousel .content-wrapper .cw-flex .cw-cta .buy-link { margin-top:32px; }    

}  /* EOF max-width: 1024px */


@media (max-width: 991.98px) {
    .container { padding-right: 0px !important; padding-left: 0px !important; }
    .menu-inner .menu li a { display: block; padding: 1em 0; font-size: 18px; line-height: 170%; display: flex; align-items: center; justify-content: center; padding: 0 28px; }
    section.filter h2 { font-size: 24px; }
    section.filter h2 { font-size: 24px; }
    section.filter h1 { font-size: 16px; }    
}

@media only screen and (max-width : 800px) {
    #header .row  { padding:0 30px; }     
    #header { background-color: rgba(255, 255, 255, 1) !important; }
    
    section.products .products-carousel-wrapper { display:block !important; }
    section.products .flex-columns { display:none !important; }  
    
    section.intro .flex-columns .flex-column { width: 100%; position: relative; }
    section.intro .section-i { padding: 0 0 110px 0; }
    section.intro .flex-columns .flex-column.last { width: 100%; }
    section.intro .button { margin-top: 10px; }    
    .intro-image-wrapper .rounded-background { position: absolute; display: block; content: ""; background-color: #ECD99E; width: 3000px; height: 50%; left: 15%; z-index: 1; 
        top: auto; bottom: -25%; border-radius: 0 0 0 100px; }   
  
    section.products .section-title { padding-left: 0; }     
    section.products { padding: 70px 0 70px 0; text-align: center; } 
    
    section.graph h2 { font-size: 24px; } 
    .particles-graph-i { overflow-y:scroll; }
    .particles-graph-i  img{ height: auto; max-width: 100000px; max-height: 100%; }
    section.testimonials .testimonial-content .text { position: relative; top: 0; left: 0; right: 0; }
    section.testimonials .testimonial-content .testimonial-image { padding-top: 25px; }
    section.testimonials { padding: 72px 0 72px 0; }
    footer.footer .footer--info p { color:#fff; }
    .footer-widgets-col .columns .single-col-1 {
    width: 100%;
    margin-right: 0;
}
.footer-widgets-col .columns .single-col-2 {
    width: 100%;
    margin-right: 0;
}
.footer-widgets-col.footer-col-2 .columns .single-col-1 { margin-right: 0; width: auto; min-width: 100%; }
.footer-widgets-col.footer-col-2 .columns .single-col-2 { margin-right: 0; width: auto; min-width: 100%; }
    
    .product-intro .flex-columns .flex-column.imagery { width: 100%; order: 1; }  
    .product-intro .flex-columns .flex-column.text { width: 100%; order: 2; }
    .product-intro .intro-image-wrapper .img-wrapper { width: 100%; order: 1; background: #f0f0f0; text-align: center; padding: 100px 0; }
    .product-intro .intro-image-wrapper .gallery-images { width: 100%; order: 1; }
    .product-intro .intro-image-wrapper .gallery-images .inner-content { padding: 0; display: flex; }
    .product-intro .intro-image-wrapper .gallery-images .inner-content .each-image { padding: 15px; transition: all ease 250ms; width: 20%; }
    .product-intro .intro-image-wrapper .gallery-images .inner-content .each-image:last-of-type { padding: 15px; transition: all ease 250ms; width: 20%; } 
    .product-intro .content-wrapper { padding-left: 0; padding-left: 0; padding-top: 50px; }   
    .product-intro .text h1 { font-weight: bold; font-size: 32px; }
    .product-intro .price { font-weight: bold; font-size: 48px; padding: 0px 0 20px 0; }
    .product-intro .price { font-weight: bold; font-size: 48px; padding: 0px 0 20px 0; }
    .text-with-image .flex-column.text { width: 100%; order:2; }
    .text-with-image .flex-column.image {     width: auto; margin: 0 -30px 40px; order: 1; }
    .text-with-image.image-right .content-inner { padding-right: 0; }
    .text-with-image p { font-size: 16px; }
    section.filter .content-wrapper { padding: 0; text-align: left; }
    .text-with-image.image-left .content-inner { padding-left: 0; } 
    section.certificate h2.section-title { font-size: 24px; }
    section.certificate p { font-size: 16px; }
    .buy-cta h2.section-title { font-weight: bold; font-size: 32px; }
    .buy-cta { background: #000; padding: 72px 0; } 
    section.contact .contact-form { padding: 64px 32px; margin: 0 -30px; }
    
    section.filter .flex-columns .flex-column.text { order: 2; width: 100%; position: relative; }
    section.filter .flex-columns .flex-column.image { order: 1; width: 100%; }
    
    section.points .flex-columns .flex-column .content-wrapper .icon { margin: 0 0 85px 0; }
    
    body .cc-floating.cc-theme-edgeless .cc-message { margin: 0 0 20px 20px !important; max-width: 568px; width: 100%; }
}

@media only screen and (max-width : 768px) {
    .page-404 .title-404 { font-size: 160px; line-height: 120%; display: block; align-items: center; text-align: center; color: #696969; }
    .default-page-body { margin-top: 100px; }
    .page-404 .title-wrapper .image img { position: absolute; width: 432px; max-width: 200px; bottom: -36%; left: 50%; margin-left: -100px; }
    footer .copyright-row { background: #000000; padding: 20px 0; }
    footer .copyright-row .row { padding:0; }
    footer .copyright-row .row .copyright-left { width: 100%; text-align:center; }
    footer .copyright-row .row .copyright-right { width: 100%; text-align:center; }  
    .footer-widgets-col.footer-col-1 { width: 560px; width: 100%; }  
    .footer-widgets-col.footer-col-2 { width: 336px; width: 100%; }
    .footer-widgets-col.footer-col-3 { width: 100%; }
    section.products .image-wrapper img { margin: 0 auto; display: block; max-width: 568px; width: 100%; position: relative; z-index: 5; margin-left: 0; }
    .products .row { padding: 0 14px; display: block; }
}

@media only screen and (max-width : 668px) {
	
}

@media only screen and (max-width: 568px) {
       
    #navbarResponsive {display:none;}
    .row { padding:0 30px; display:block; }
    section.intro .intro-image-wrapper { margin: 72px 0 0 0; }
    section.intro { padding: 10px 0 0 0; }
    section.intro .flex-columns .flex-column { width: 100%;  }
    section.intro .flex-columns .flex-column.last { width: 100%;  }  
    section.intro .content-wrapper { padding: 0 0% 0 0; }  
    section.intro h1 { font-size: 32px; font-weight:bold; line-height: 110%; padding: 0 0 0.9em 0; }
    section.intro p { font-size: 14px; line-height: 160%; color: #696969; opacity: 0.8; }
     .intro .arrow-down { display:none; }
    .intro-image-wrapper .rounded-background { position: absolute; display: block; content: ""; background-color: #ECD99E; width: 100vw; height: 110%; left: 22%; z-index: 1; top: 7%; border-radius: 0 0 0 50px; }     
    section.filter h1 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 24px; line-height: 140%; text-align: center; color: #696969; padding-bottom: 1.375em; margin: 0; }

    .header-logo a img { max-width: 100%; max-width: 80px; }

    section.filter .flex-columns .flex-column.text { order: 1; width: 100%; }
    section.filter .flex-columns .flex-column.image { order: 1; width: 100%; }
    section.filter .flex-columns .flex-column.text h1 { font-size: 16px; line-height: 120%; text-align: left; }
    section.filter h2 { font-size: 24px; line-height: 110%; }
    section.filter p { font-size: 16px; line-height: 170%; }
    section.filter .content-wrapper { text-align: left; padding: 0; }
    section.filter .intro-image-wrapper .img-wrapper:before { width: auto; height: 44%; left: -1000px; right: -1000px; }
    
    section.points { padding: 30px 0 85px 0; text-align: center; }
    section.points h1 { font-size: 24px; line-height: 140%; padding:0 0 34px; }
    section.points .flex-columns .flex-column { width: 100%; margin-bottom:16px; padding: 0; }
    section.points .flex-columns .flex-column .content-wrapper p { padding: 0 0 0em 0; color:#696969; position:relative; bottom:0; right:0; left:0;top:auto; }
    section.points .flex-columns .flex-column .content-wrapper .icon { margin: 0 0 65px 0; }
    section.points .flex-columns .flex-column .content-wrapper  { position:relative; height: auto; }                

    section.products { padding: 45px 0; text-align: center; }
    section.products .section-title { padding-left: 0; }
    section.products .section-title h1 { font-size: 24px; line-height: 140%; text-align: left; color: #696969; }
    section.products .flex-columns .flex-column { width: 100%; margin: 0 0 40px 0; padding: 0 16px; transition: all ease 250ms; }
    .cw-info .title h3 { font-size: 24px; line-height: 140%; padding: 0 0 8px 0; margin: 0; }
    section.products .content-wrapper .cw-flex .cw-info { width: 100%; }
    section.products .content-wrapper .cw-flex .cw-cta { width: 100%; }
    #product-carousel .item .content-wrapper .cw-info .title h3 { font-family: 'Roboto'; font-style: normal; font-weight: bold; font-size: 24px; }
    #product-carousel .content-wrapper .cw-info .price { font-size: 16px; }
    section.products .image-wrapper:before { position: absolute; display: block; content: ""; background-color: #ECD99E; width: 100%;height: 50%; }
    section.products .image-wrapper { padding-bottom: 0; }
    #product-carousel .content-wrapper .cw-flex .cw-cta .detail { display: none; }
    #product-carousel .content-wrapper .cw-flex .cw-cta .buy-link { margin-top:32px; }
    
    
    section.graph h2 { font-size: 24px; line-height: 140%; text-align: center; color: #696969; }
    section.graph p { font-size: 16px; line-height: 170%; text-align: center; color: #696969; }
    .particles-graph { overflow-x: scroll; position: relative; margin: 0 -16px; left: -32px; width: 100vw; right: -32px; } 
    .particles-graph img {  }
    .particles-graph-i {  }
 
    section.testimonials { padding: 30px 0 30px 0; }
    section.testimonials h2.section-title { font-size: 24px; line-height: 140%; text-align: center; color: #696969; }
    section.testimonials h2.section-title { font-size: 24px; line-height: 140%; text-align: center; color: #696969; }    
    
    section.testimonials .testimonial-content .text { position: static; font-size: 16px; line-height: 170%; color: #696969; }    
    section.testimonials .testimonial-content .testimonial-image { padding-top:47px; }
    section.testimonials .testimonial-content .testimonial-image img { display:block; width: auto; max-width:58px; }
    section.testimonials .testimonial-content .name { padding-top:22px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 120%; color: #696969; }
    section.testimonials .testimonial-content { border: 1px solid #E6E6E6; padding: 40px 24px 24px; }
    
    section.contact { padding: 0; text-align: center; }
    section.contact .row { padding: 0 32px; }
    section.contact-w {  } 
    section.contact .contact-form { padding:64px 32px; background: #f7f7f7;   }  
    section.contact h2 { font-weight: bold; font-size: 24px; line-height: 140%; }
    section.contact p { font-size: 16px; line-height: 170%; }
    
    footer .copyright-row { background: #000000; padding: 20px 0; }
    footer .copyright-row .row { padding:0; }
    footer .copyright-row .row .copyright-left { width: 100%; text-align:center; }
    footer .copyright-row .row .copyright-right { width: 100%; text-align:center; }
    
    body .cc-theme-edgeless.cc-window { background: #fff !important; display: flex; flex: 1; flex-wrap: wrap; flex-direction: row; max-width: 100vw; 
        border-width: 1px 0 0 0 !important; width: 100%; padding: 20px !important; align-items: center; border: solid 1px #bbb; right: 0; bottom: 0; }
    body .cc-floating.cc-theme-edgeless .cc-message { margin: 0 0 20px 20px !important; max-width: 568px; width: 100%; }   
}

@media only screen and (max-width: 480px) {
    .default-page-body.page-404 .row { padding:0 0; }
 
}

@media only screen and (max-width: 360px) {
} 

@media only screen and (max-width: 340px) {

}

